.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: slateblue;
  min-height: 100vh;
  justify-content: center;
  width: 100%;
}

.quote{
  width: 30%;
  background-color: aliceblue;
  min-height:100px;
  padding:1.25rem;
  border-radius: 1.20rem;
}

.headline{
  color:blanchedalmond;
  font-size: 2.25rem;
}


